<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnePushSnap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnePushSnap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <OnePushSnap.Properties.Settings>
            <setting name="save_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="default_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="save_image_type" serializeAs="String">
                <value>JPG</value>
            </setting>
            <setting name="crop_rectangle" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
        </OnePushSnap.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OnePushSnap.Properties.Settings>
            <setting name="trigger_event" serializeAs="String">
                <value>257</value>
            </setting>
            <setting name="key_snap" serializeAs="String">
                <value>PrintScreen</value>
            </setting>
            <setting name="initial_folder" serializeAs="String">
                <value>userprofile</value>
            </setting>
            <setting name="key_pause" serializeAs="String">
                <value>Pause</value>
            </setting>
        </OnePushSnap.Properties.Settings>
    </applicationSettings>
</configuration>
